* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    margin: 0rem 2rem 0rem 2rem;
}
/* css barre de navigation  */
.navpc {
    display: flex;
    justify-content: space-between;
}
.navmobil {
    display: none;
}
/* partie logo */
#logo {
    display: flex;
    flex-direction: row;
    float: left;
}
#logo img {
    height: 90px;
    width: 100px;
}
/* partie "menu" */
.menu {
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.menu a {
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    width: 150px;
}
.menubb {
    width: 100%;
    display: flex;
    padding: auto;
    justify-content: center;
    color: black;
}
.menu a:hover {
    color: #0065FC;
    border-top: #0065FC 2px solid;
}
/* partie s'inscrire */
.inscription {
    align-items: center;
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
    border-top: none !important;
    display: flex;
}
/* Suite du header */
/* titre et sous-titre */
h1 {
    margin-top: 0.5em;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 0.5em;
}
h2 {
    display: block;
    margin-top: 1px;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 2em;
}
/* Barre de recherche des villes */
.searchbar {
    display: flex;
    margin-bottom: 2em;
}
.searchicon {
    background-color: #F2F2F2;
    padding: 16px 16px;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
}
.searchicon i {
    display: flex;
    width: 15px;
    margin: auto;
}
.town {
    border-right: none;
    border-left: none;
    font-size: 20px;
    font-weight: 700;
    padding: 0 24px;
    box-sizing: border-box;
    width: 15rem;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
}
.town::placeholder {
    font-size: 1rem;
    color: black;
    padding: 16px 20px;
}
.pc-only {
    background-color: #0065FC;
    color: white;
    width: auto;
    border: none;
    font-weight: bold;
    padding: 0 24px;
    font-size: 1rem;
    border-radius: 0px 15px 15px 0px;
}
.mobil-only {
    display: none;
}
/* Barre de filtres */
 filter img {
    width: 20%;
}
.filter {
    font-weight: bold;
    font-size: 20px;
}
.filter-choice a {
    padding-left: 2rem;
    color: black;
    text-decoration: none;
    display: flex;
}
/* regroupement des différents choix+titre filtres */
.filter-choice {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
}
/* icones des filtres */
.filter-choice i {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2px;
    margin-bottom: 2px;
    height: 42px;
    width: 42px;
}
/* filtre individuel */
.choice {
    border: #f2f2f2 3px solid;
    display: flex;
    font-weight: bold;
    border-radius: 50px;
    height: 2.5em;
    width: auto;
    margin: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.choice:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* écriture choix filtre */
.choice span {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    font-size: 20px;
}
/* ligne info +icone */
#info {
    width: 50em;
    display: flex;
    font-size: 20px;
}
#info i {
    border-radius: 100%;
    border: #DEEBFF 1px solid;
    background-color: #0065FC;
    color: white;
   margin: 0;
}
/* section 1 */
/* titre de la section */
section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
/* titre des hebergements et les plus populaire et activité */
.h3 {
    font-size: 1.2em;
    font-weight: bold;
}
#hotel h3 {
    display: flex;
    margin-bottom: 20px;
    font-size: 20px;
}
.popular h3 {
    display: flex;
    /* margin-bottom:20px ; */
    font-size: 20px;
    height: 20px;
}
/* partie avec ensemble des logements et titre */
#hotel {
    background-color: #F2F2F2;
    border-radius: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    margin-top: 2em;
    justify-content: space-between;
    margin-right: 2em;
}
#hotel a {
    width: 100%;
    margin: auto;
}
/* partie ensemble des logement sans le titre */
#lodgingall {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em 2em;
}
#lodgingall a {
    text-decoration: none;
    color: black;
}
/* carte logement */
.lodging {
    padding: 5px;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    background-color: white;
    box-shadow: -1px 3px 5px 0px rgba(193, 193, 193, 0.75);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.lodging:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* image carte logement */
.lodging img {
    display: flex;
    width: 100%;
    height: 65%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
button {
    cursor: pointer;
}
.recap {
    display: flex;
    flex-direction: column;
    margin: 8px;
    justify-content: space-between;    
}
/* nom du logement */
.lodgingname {
    font-weight: bold;
    font-size: 18px;    
    margin: 0;
}
.price {
    margin-top: 3px;
    font-size: 14px;
}
/* etoiles des hebergement et des plus populaire */
.star {
    padding-top: 5px;
    display: flex;
}
.star i {
    font-size: 10px;
    margin-left: -0px;
}
.nostar {
    color: #F2F2F2;
    background-color: white;
}
.yesstar {
    color: #0065FC;
}
/* lien afficher plus */
#aff {
    font-size: 1em;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-top: 40px !important;
}
/* partie section 1/2 : les plus populaires */
/* titre de la partie */
.pop {
    display: flex;
    justify-content: space-between;
    height: 24px;
    margin-bottom: 24px;
}
/* icone titre */
.pop i {
    padding-left: 25px;
}
/* ensemble des plus populaires  */
.popular {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 2.7rem 2rem 0rem 2rem;
    margin-top: 2em;
}
.popularlog {
    display: grid;
    grid-template-columns: 1fr;
}
/* carte les plus populaires  */
.popularlodging {
    padding: 5px;
    display: flex;
    width: 300px;
    height: 130px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: -1px 3px 5px 0px rgba(193, 193, 193, 0.75);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.popularname {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.popularlodging:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.popular a {
    text-decoration: none;
    color: black;
}
/* image des cartes */
.popularlodging img {
    width: 40%;
    height: 130px;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}
.popularlodging p {
    display: flex;
}
/* lien plus d info section 1 */
i {
    font-weight: bold;
    margin-left: 0.5em;
}
.info {
    margin: 10px;
}
/* section 2 les activités */
/* titrede la section2 */
#am {
    margin: 30px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
/* partie ensemble des activités */
#activitiesall {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* carte individuelle */
#activitiesall a {
    display: flex;
    margin: 0;
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    width: 100%;
}
figure {
    box-shadow: -1px 3px 5px 0px rgba(193, 193, 193, 0.75);
    border-radius: 15px;
    margin-bottom: 2em;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
figure:hover {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.activities {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
figcaption {
    font-weight: bold;
    padding: 1rem;
    font-size: 18px;
}
.activity1 {
    margin-right: 1rem;
    width: 100%;
}
.activity1 img {
    width: 100%;
    height: 370px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.activity2 {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    width: 100%;
}
.activity2 img {
    width: 100%;
    height: 8.8em;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
/* Footer */
footer {
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
}
.footer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2em 0em 0em 1em;
}
.footer p {
    font-weight: bold;
    margin-bottom: 1em;
}
.footer a {
    color: black;
    margin-bottom: 0.5em;
    width: 100%;
    padding-top: 0;
    text-decoration: none;
}
/* Partie responsive */
@media screen and (max-width: 768px) {
    body {
        margin: 5px;
    }
    header {
        margin: 10px;
    }
    .navpc {
        display: none;
    }
    .navmobil {
        display: flex;
        flex-direction: column;
        
    }
    .menu a:hover {
        color: #0065FC;
        border-bottom: #0065FC 2px solid;
        border-top: none;
    }
    /* partie lien hebergement et activité dans le menu */
       .logo img{
        width: 150px;
        height: 70px;    
    }
    .logoinscription {
      display: flex; 
      width: 100%;
      justify-content: space-between;
    }
    .menubb{
        display: flex;
        padding: 15px;        
    }   
    h2{
        font-size: 18px;        
    }
    /* barre de recherche ville */
    .searchbar {
        width: 100%;
        margin-top: 30px;
        margin-left: 10px;
    }
    .town {
        width: 10em;
    }
    .pc-only {
        display: none;
    }
    .mobil-only {
        display: inline-block;
        background-color: #0065FC;
        color: white;
        border: none;
        font-weight: bold;
        padding: 0px 17.5px 0px 17.5px;
        font-size: 1rem;
        border-radius: 15px 15px 15px 15px;
    }
    .mobil-only i {
       margin: auto;
    }
    /* filtres */
    .filter-choice {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    .filter {
        width: 100%;
        padding: 10px;
    }
    .filter-choice a {
        padding: 0em;
        /* margin-bottom: 15px */
    }
    .choice {
        margin: 5px;
    }
    .choice span{
        font-size: 16px;
    }

    /* ligne info */
    #info {
        display: flex;
             
    }
    #info p{
        font-size: 15px;
    }
    #info i {
        width: auto;
        margin: auto;
        margin-right: 10px;
        margin-left: 0;
    }
    h3 {
        width: auto;

    }
    #hotel h3 {
        margin-left: 1em;
        font-size: 1.5em;
        font-weight: bold;
    }

    .popular h3 {
        font-size: 20px;
    }

    #am {
        width: auto;
        margin-left: 20px;
    }

    /* partie hebergements */
    section {
        display: flex;
        flex-direction: column-reverse;
    }

    #hotel {
        width: 100%;
        background-color: white;
        padding: 0;        
    }
    #hotel a{
        width: auto;
    }

    #lodgingall {
        align-content: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:  2em;
        width: 100%;
        margin: auto;
    }
    .lodging {
        width: 320px;
        height: auto;
        box-shadow: -1px 3px 5px 0px rgba(193, 193, 193, 0.75);
        border-radius: 15px;
        padding: 10px;               
    }
    .lodgingname {
        font-size: 1.2em;
    }
    .lodging img {
        width: 100%;
        height: 8em;
        margin: auto;
    }
    .lodging p {
        padding: 0;
    }

    .price {
        font-size: 1em;
        margin-top: 2px;
    }
    #aff {
        margin-left:10px !important;
    }

    #info {
        width: 100%;
        margin: 1em 0em 1em 0em;
    }

    /* Partie les plus populaires  */
    .popular {
        width: 100%;
        border-radius: 0;
        height: auto;
        padding: 0;
        
        
    }
    #popularlog {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin:15px;
    }

    .popular a {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 10em;
    }
    .pop {
        height: 3em;
        width: 90%;
        margin: 10px;
        padding-top: 15px;
    }
    .popularlodging {
        margin-bottom: 0;
        width: 88%;
    }
        /* les étoiles d'avis     */
    .star i {
        width: 10px;
        padding: 1px;
    }
    /* partie activités */
    .activities {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .activity1 {
        width: 97%;
        margin: auto;
    }

    figcaption {
        display: flex;
        height: 0.9em;
       align-items: center;
        padding-left: 1em;
        font-weight: bolder;
        font-size: 1.2em;
    }

    .activity1 img {
        width: 100%;
        margin: auto;
        height: 9em;
    }

    .activity2 {
        width: 97%;
        margin: auto;
    }
    #activitiesall a{
        margin-right: 0;
    }

    .activity2 img {
        width: 100%;
        height: 9em;
    }

    .activity2 figure {
        border-radius: 25px;
    }

    /* bas de page */
    footer {
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (min-width :768px) and (max-width :1200px) {
    

    /* partie nav */
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0em 2em;
        width: 100%;
        margin-bottom: 50px;
    }
    .navpc {
        display: none;
    }
    .navmobil {
        display: flex;
        flex-direction: column;
        
    }
    .menu a:hover {
        color: #0065FC;
        border-bottom: #0065FC 2px solid;
        border-top: none;
    }
    .logo img{
        width: 150px;
        height: 70px;    
    }
    .logoinscription {
      display: flex; 
      width: 100%;
      justify-content: space-between;
    }
    
    .menubb {
        padding-top: 0rem;
        display: flex;
    }

    #logo {
        width: 70%;
        height: 4em;
            
    }
    /* filtres */
    .filter-choice {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    .filter {
        width: 100%;
        padding: 10px;
    }
    .filter-choice a {
        padding: 0em;
    }
    .choice {
        margin: 5px;
    }
    .choice span{
        font-size: 16px;
    }
    /* ligne info */
    #info {
        display: flex;
             
    }
    #info p{
        font-size: 15px;
    }
    #info i {
        
       
        margin-right: 10px;
    }

    /* partie hebergement */
    section {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: auto;
        border-radius: 15px 15px 15px 15px;
    }

    #hotel {
        border-radius: 15px 15px 15px 15px;
        width: 90%;
        margin-right: 0;
    }

    #lodgingall {
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em 2em;
    }

    .lodging {
        width: 100%;
        height: 20em;
    }

    .lodging img {
        width: 95%;
        height: 12em;
        margin: auto;
    }

    /* partie les plus populaires */
    #popularlog {
        display: grid;
        grid-template-columns: 1fr ;
        margin-top: 1.5rem;
        
    }

    .popular {
        margin: 0;
        width: 95%;
        height: auto;
        background-color: white;
    }

    .popularlodging {
        width: 100%;
    }

    .popular a {
        width: 100%;
        display: grid;
        margin: auto;
        
    }

    .price {
        margin-top: 20px;
    }
    .star{
        display: block;
        align-items: center;
    }
    #am {
        margin-top: 2em;
        margin-left: 0;
    }

    /* partie activités */
    .activities {
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 0em 0em;
    }

    .activity1 img {
        width: 100%;
        height: 17em;
        /* margin: auto; */
    }

    .activity1 {
        width: 100%;
    }

    .activity2 img {
        width: 100%;
        height: 17em;
        /* margin: auto; */
    }

}